.planned {
    color: red !important;
}

.in-dev {
    color: goldenrod !important;
}

.completed {
    color: lawngreen !important;
}

.status {
    margin-top: -1%;
}

.desktop .main {
    margin: auto 25%;
    text-align: justify;
    padding-bottom: 3%;
}

.mobile .main {
    margin: auto 5%;
    text-align: left;
    padding-bottom: 1%;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

.mobile .responsive {
    width: 100%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}