.justified {
    width: 50%;             /* Set the width of the text block */
    margin: 0 auto;         /* Centre the block horizontally */
    text-align: justify;    /* Justify the text inside the block */
    padding: 20px;
}

p {
    white-space: pre-wrap;
}

.title {
    font-size: 50px;
}

.container {
    margin-top: 10px;
    display: flex;
    justify-content: center; /* Center the main content */
    align-items: center; /* Aligns children vertically in the center */
    position: relative; /* Needed for absolute positioning of children */
    height: 50px; /* You can adjust this based on your content */
}

.centre-element {
    text-align: center; /* Centres the text within the element */
    padding-top: 65px;
    padding-bottom: 15px;
}

.left-element {
    position: absolute;
    left: 25px; /* Adjust this value to set the right padding */
    top: 0; /* Aligns top edge with the container */
    bottom: 0; /* Aligns bottom edge with the container */
    display: flex;
    align-items: center; /* Vertically centers text within the element */
    white-space: nowrap; /* Ensures the content stays in a single line */
    text-align: left; /* Aligns the text to the right within the element */

    transition: 0.2s;
}

.container a:hover {
    color: #ccc;
}

.centre {
    text-align: center;
}

.title {
    font-size: 38px;
    margin-bottom: 10px;
}

.author {
    font-size: 18px;
    margin: 5px 0;
}

.date {
    font-size: 16px;
    margin-top: 5px;
    padding-bottom: 5px;
}


@media screen and (max-width: 1250px) {
    .justified {
        width: 95%;             /* Set the width of the text block */
        margin: 0 auto;         /* Centre the block horizontally */
        text-align: justify;    /* Justify the text inside the block */
        padding: 20px;
    }

    .centre-element {
        padding-top: 20px;
    }

    .title {
        margin-bottom: 5px;
        padding-top: 40px;
        font-size: 52px;
    }

    .author, .date {

        margin-bottom: 5px;
        font-size: 42px;
    }

    hr {
        margin-top: 20px;
    }

    /* TODO: Move the back button somewhere */
    .left-element {
        display: none;
    }
}
