.post {
    color: #fff;
    text-decoration: none;
}

.post div {
    background-color: #555;
    margin-left: 15px;
    margin-right: 35%;
    padding: 5px 5px 10px 10px;
}

.post div:hover {
    background-color: #666;
}

.post hr {
    margin-left: 15px;
    margin-right: 35%;
}

.post .text {

}

.post .date {
    padding-top: 0;
}


