@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
}

.desktop {
    color: #f00;
}

.mobile {
    color: #0f0;
}

.other {
    color: #00f;
}