@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    background-color: #444;
}

.desktop {
    margin: 0;
}

.desktop p {
    margin-left: 5%;
    margin-right: 5%;
}

.desktop .navbar {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Space between title and navigation links */
    align-items: center; /* Align items vertically */
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(119, 119, 119, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.desktop .navbar-title {
    margin: 0; /* Removes default margin */
    padding-left: 5%;
    font-size: 24px; /* Adjust font size as needed */
}

.desktop .navbar-title a {
    color: white;

    -webkit-user-select: none;   /* Chrome, Opera, & Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, */

    text-decoration: none;
}

.desktop .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0; /* Ensure the list has no default margin */
    padding-right: 5%;
}

.desktop .navbar li {
    display: inline-block; /* Make the list items display inline */
    border-right: 1px solid #bbb;
    padding-left: 5px;
    padding-right: 5px;
}

.desktop .navbar li:last-child {
    border-right: none;
}

/* Style adjustments for the navbar links to look like buttons */
.desktop .navbar li a {
    padding: 10px 20px; /* Adjust padding to make the links look like buttons */
    border-radius: 5px; /* Rounded corners for the links */
    color: white;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s; /* Smooth transition for hover effect */

    -webkit-user-select: none;   /* Chrome, Opera, & Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, */
}

.desktop .navbar li a:not(.active):hover {
    background-color: #111; /* Darker background on hover */
    border-radius: 5px; /* Maintain rounded corners on hover */
}

/* Set the active link to be distinctive */
.desktop .navbar .active {
    background-color: #04AA6D; /* Active link background */
    border-radius: 5px; /* Rounded corners for the active link */
}

.home-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/home/1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-intro-text {
    background-color: rgba(119, 119, 119, 0.6);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    text-align: center;
    color: white;
    backdrop-filter: blur(10px);
}

.home-intro-text h1 {
    margin-bottom: 0;
}
.home-intro-text h2 {
    margin-top: 0;
}

.text-centre {
    text-align: center;
}

.desktop .title {
    padding-top: 5%;
}

.desktop .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Set the width of each grid item */
    grid-gap: 20px; /* Space between grid items */
    max-width: 660px; /* Max container width (200px * 3 + 2 * 20px grid gap) */
    padding: 20px; /* Padding around the grid */
    margin: 0 auto; /* Centre the grid horizontally */
}

.desktop .project-grid .project {
    display: flex; /* Make the .project a flex container */
    justify-content: center; /* Horizontally center the flex items */
    align-items: center; /* Vertically center the flex items */
    width: 200px; /* Width of each grid item */
    height: 200px; /* Height of each grid item */
    background-color: #555; /* Background colour of grid items */
    box-sizing: border-box; /* Include padding and border in the width and height */

    color: white;

    -webkit-user-select: none;   /* Chrome, Opera, & Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, */

    text-decoration: none;
    outline: none;

    transition: 0.5s ease;
}

.desktop .project-grid .project:hover {
    background-color: #777;
}

.desktop .project-grid .project p {
    margin: 0;
    text-align: center;
}

#project1 {
    background-image: url('../img/placeholder512x512.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent !important;
}

.desktop .project-grid #project1:hover {

    background-color: transparent !important;
    background-size: 200%;
}

/*  Consider small screen sizes (or window sizes) as a mobile   */
@media screen and (max-width: 600px) {
    body {
        margin: 0;
        color: #f00 !important;
    }

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: rgba(119, 119, 119, 0.6);
        backdrop-filter: blur(10px); /* Blur effect */
        -webkit-backdrop-filter: blur(10px); /* For Safari */
    }

    .navbar ul {
        text-align: center;
        list-style-type: none;
        padding-right: 5px;
        margin: 0; /* Remove default margin */
        background-color: transparent; /* Transparent background for the ul */
    }

    .navbar li {
        display: block; /* Make the list items display inline */
        border-right: 1px solid #bbb;
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 5%;
    }

    .navbar li:last-child {
        border-right: none;
    }

    /* Style adjustments for the navbar links to look like buttons */
    .navbar li a {
        padding: 10px 20px; /* Adjust padding to make the links look like buttons */
        border-radius: 5px; /* Rounded corners for the links */
        color: white;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s; /* Smooth transition for hover effect */
    }

    .navbar li a:not(.active):hover {
        background-color: #111; /* Darker background on hover */
        border-radius: 5px; /* Maintain rounded corners on hover */
    }

    /* Set the active link to be distinctive */
    .navbar .active {
        background-color: #04AA6D; /* Active link background */
        border-radius: 5px; /* Rounded corners for the active link */
    }

    .home-intro {
        background-image: none !important;
        background-color: #444;
    }

    .home-intro-text {
        background-color: transparent;
    }
}

